@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    If you got any questions, suggestions or something you want to share, please email me.
</p>

<address>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:davsebamse@gmail.com">davsebamse@gmail.com</a><br />
</address>