
@{
    ViewBag.Title = "Kortet";
}


<div id="map"></div>

<div id="popup" class="modal fade" style="display:none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Data resultat</h3>
            </div>
            <div class="modal-body">
                <ul id="dataresult"></ul>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Luk</a>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/leaflet.js"></script>
<script src="~/Scripts/MapAdmin.js"></script>

